body{
    background:linear-gradient(#0f172a,#020617);
    color:white;
    font-family:Arial;
    text-align:center;
    margin:0;
}

#ui{
    margin-top:10px;
    font-size:18px;
}

#game{
    width:360px;
    height:520px;
    margin:20px auto;
    position:relative;
    overflow:hidden;
    border-radius:14px;
    background:linear-gradient(#1e293b,#020617);
    box-shadow:0 0 30px black;
}

/* PLAYER */
#player{
    width:40px;
    height:40px;
    background:#22c55e;
    position:absolute;
    bottom:10px;
    left:160px;
    border-radius:10px;
    transition:transform .1s;
}

/* TEACHER */
#teacher{
    width:50px;
    height:50px;
    background:#ef4444;
    position:absolute;
    top:10px;
    left:150px;
    border-radius:10px;
    animation:teacherMove 2s infinite alternate;
}

@keyframes teacherMove{
    from{left:20px;}
    to{left:290px;}
}

/* PAPER */
.paper{
    width:28px;
    height:28px;
    background:#facc15;
    position:absolute;
    border-radius:4px;
}

/* SHAKE EFFECT */
.shake{
    animation:shake .3s;
}

@keyframes shake{
0%{transform:translate(0)}
25%{transform:translate(5px)}
50%{transform:translate(-5px)}
75%{transform:translate(5px)}
100%{transform:translate(0)}
}
